[project]
requires-python = ">=3.11"

[tool.poetry]
name = "ambr-py"
version = "1.7.1"
description = "API wrapper for ambr.top written in Python"
authors = ["seriaati <seria.ati@gmail.com>"]
license = "GPL-3.0"
readme = "README.md"
packages = [{include = "ambr"}]

[tool.poetry.dependencies]
python = "^3.11"
aiohttp = "^3.8.6"
pydantic = "^2.4.2"
aiohttp-client-cache = {extras = ["sqlite"], version = "^0.11.0"}

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-asyncio = "^0.21.1"
ruff = "^0.2.2"
pre-commit = "^3.6.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = [
    "E","W","C90","F","UP","B","SIM","I","N","TCH",
    "ANN","ASYNC","A","C4","EM","FA","ICN","G",
    "PIE","T20","ARG","ERA","LOG","PL","TRY"
]
ignore = [
    "E501","ANN401","ANN101","ANN102","ANN003",
    "PLR0913","PLR2004","PLR0917","PLR6301",
    "ANN002"
]
preview = true

[tool.ruff.lint.per-file-ignores]
"**/__init__.py" = ["F403"]
"playground.*.py" = ["ALL"]
"**/models/*.py" = ["N805"]
"**/tests/*.py" = ["ANN001"]
"**/client.py" = ["PLR0904", "A002"]

[tool.ruff.lint.flake8-type-checking]
quote-annotations = true