line-length = 100
target-version = "py311"

[lint]
preview = true
select = [
    "F",
    "E",
    "W",
    "C90",
    "I",
    "N",
    "UP",
    "ANN",
    "ASYNC",
    "S",
    "B",
    "A",
    "C4",
    "EM",
    "FA",
    "ISC",
    "LOG",
    "G",
    "PIE",
    "T20",
    "PT",
    "RSE",
    "RET",
    "SLOT",
    "SIM",
    "TC",
    "ARG",
    "PTH",
    "PL",
    "TRY",
    "FAST",
    "PERF",
    "FURB",
    "RUF",

    # Project specific selects
    "DOC",
    "D",
]
ignore = [
    "S101",    # Assert used
    "PLR2004", # Magic value used
    "RUF003",  # Comment contains ambiguous character
    "PLR6301", # Method could be a function, class method, or static method
    "ANN401",  # typing.Any used
    "E501",    # Line too long
    "S311",    # Standard pseudo-random generators are not suitable for security/cryptographic purposes

    # Project specific ignores
    "A002",   # Shadow built-in name
    "D100",   # Missing docstring in public module
    "D104",   # Missing docstring in public package
    "D105",   # Missing docstring in magic method
    "D107",   # Missing docstring in __init__
    "DOC501", # Raised exception not documented
    "DOC502", # Raised exception not documented
]

[lint.per-file-ignores]
"**/__init__.py" = ["F403", "F401"]   # Wildcard imports used
"tests/*.py" = ["ANN001", "DOC", "D"]
"test.py" = ["ALL"]

[lint.flake8-type-checking]
quote-annotations = true
runtime-evaluated-base-classes = [
    "pydantic.BaseModel",
    "pydantic_settings.BaseSettings",
    "ambr.models._base.BaseModel",
]

[lint.mccabe]
max-complexity = 15

[lint.pydocstyle]
convention = "google"

[lint.isort]
required-imports = ["from __future__ import annotations"]
split-on-trailing-comma = false

[format]
skip-magic-trailing-comma = true
